---
import Layout from "../layouts/Layout.astro";
import "../../style/base.scss";
import { getData } from "../libs/micro";

const responce = await getData({ fields: ["id", "title"] });
---

<Layout title="Tkeshi Aoki's Portfolio">
  <main>
    <h1>Takeshi Aoki's Portfolio site!</h1>

    <a
      href="https://github.com/Takeshi-619"
      target="_blank"
      rel="noopener noreferrer">my GitHub Account</a
    >

    <ul>
      {
        responce.contents.map((content: any) => (
          <li>
            <a href={content.id} target="_blank" rel="noopener noreferrer">
              {content.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
